@{
    ViewData["Title"] = "HeaderLogIn";
}
<!DOCTYPE html>
<html>
<head>
    <title>UniCalendar</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="~/css/header_login.css" rel="stylesheet" />
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
</head>
<body>
    <div class="cssHeader">
        <div class="cssAposindesi">
            <span style="width: 0px; top: 10px; left: 17px; position: absolute;">Απoσύνδεση</span>
        </div>
        <div class="cssImg">
            <img src="~/images/accountview.png">
        </div>
        <div class="cssUnicalendar">
            <span style="width: 65px; top: 3px; left: 49px; position: absolute;">UniCalendar</span>
            <div class="cssLogo"></div>
        </div>
    </div>
</body>
</html>