@{
    ViewData["Title"] = "Category";
}
<!DOCTYPE html>
<html>
<head>
    <title>Κατηγορίες</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>x
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/category.css"/>
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/Burgermenu.css"/>
    <link rel="stylesheet" href="~/css/home.css"/>
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
    <script src="~/js/Burgermenu.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/Authorize.js"></script>
</head>
<body>
    <p class="cssTitle">Επιλέξτε κατηγορία μαθημάτων:</p>
    <div class="categoryButons">
        <div class="humanities">
            <button class="btnHumanities">
                <img src="~/images/humanities.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtHumanities">Ανθρωπιστικές Επιστήμες</p>
        </div>
        <div class="agriculture">
            <button class="btnAgriculture">
                <img src="~/images/agriculture.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtAgriculture">Γεωργία & Δασοκομία</p>
        </div>
        <div class="media">
            <button class="btnMedia">
                <img src="~/images/media.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtMedia">Δημοσιογραφία & Media</p>
        </div>
        <div class="business">
            <button class="btnBusiness">
                <img src="~/images/business.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtBusiness">
                Διοίκηση Επιχειρήσεων<br>
                & <br>
                Marketing
            </p>
        </div>
        <div class="education">
            <button class="btnEducation">
                <img src="~/images/school.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtEducation">Εκπαίδευση</p>
        </div>
        <div class="physedu">
            <button class="btnPhysedu">
                <img src="~/images/sports.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtPhysedu">Επιστήμη Φυσικής Αγωγής</p>
        </div>
        <div class="science">
            <button class="btnScience">
                <img src="~/images/science.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtScience">Θετικές Επιστήμες</p>
        </div>
        <div class="medicine">
            <button class="btnMedicine">
                <img src="~/images/medicine.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtMedicine">Ιατρική</p>
        </div>
        <div class="engineering">
            <button class="btnEngineering">
                <img src="~/images/engineering.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtEngineering">Μηχανική </p>
        </div>
        <div class="law">
            <button class="btnLaw">
                <img src="~/images/law.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtLaw">Νομική </p>
        </div>
        <div class="finance">
            <button class="btnFinance">
                <img src="~/images/finance.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtFinance">Οικονομικές Επιστήμες</p>
        </div>
        <div class="computer">
            <button class="btnComputer">
                <img src="~/images/computer.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtComputer">Πληροφορική & Τεχνολογία</p>
        </div>
        <div class="arts">
            <button class="btnArts">
                <img src="~/images/arts.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtArts">Τέχνη</p>
        </div>
        <div class="tourism">
            <button class="btnTourism">
                <img src="~/images/tourism.png" alt="buttonpng" style="border: 0;" />
            </button>
            <p class="txtTourism">Τουρισμός</p>
        </div>
    </div>
    @await Html.PartialAsync("Header")
    @await Html.PartialAsync("Footer")
</body>
</html>