@{
    ViewData["Title"] = "Course_Info";
}
<!DOCTYPE html>
<html>
<head>
    <title>Μάθημα</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/course_info.css" rel="stylesheet" />
    <link rel="icon"  href="./images/calendar.png" type = "image/x-icon">
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/authorize.js"></script>
    <script async defer src="~/js/site.js"></script>
</head>
<body>
    <div>
        <div class="cssMathima">
            <div style="height: 10%;  " >
                <p class="cssMathimaTitle" id="mathimaTitle">Δομημένος Προγραμματισμός</p>
            </div>
            <div style="height: 50%; ">
                <p class="cssMathimaDesc" id="mathimaDesc">Το μάθημα συνιστά μία εισαγωγή στις βασικές αρχές της Αλγοριθμικής και του Προγραμματισμού. Επι μέρους στόχους του μαθήματος συνιστούν (α) η ανάπτυξη δεξιοτήτων και ικανοτήτων σχετικών με την αλγοριθμική και (β) η εκμάθηση των βασικών αρχών του δομημένου προγραμματισμού, χωρίς να απαιτείται προηγούμενη προγραμματιστική εμπειρία. Το μάθημα χρησιμοποιεί τις δυνατότητες προγραμματισμού που παρέχει η γλώσσα C, για την υλοποίηση απλών αλγορίθμων και την σταδιακή εκμάθηση των βασικών αρχών του δομημένου προγραμματισμού, μέσω μικρών προγραμμάτων και εργασιών. Αναλυτικότερα το εισαγωγικό αυτό μάθημα :<br />
                    ● Παρέχει στους φοιτητές τις βάσεις των αρχών της αλγοριθμικής και του δομημένου προγραμματισμού. <br />
                    ● Συμβάλλει στην κατανόηση του περιβάλλοντος και των χαρακτηριστικών της C. <br />
                    ● Παρέχει προγραμματιστική εμπειρία ικανή για την υλοποίηση απλών αλγορίθμων, αλλά και απλών πρακτικών εφαρμογών.<br />
                    ● Συμβάλλει στην υλοποίηση απλών προγραμμάτων.<br />
                    ● Παρέχει το υπόβαθρο για την περαιτέρω εμβάθυνση στον Αντικειμενοστρεφή Προγραμματισμό του 2ου εξαμήνου, αλλά και την εκμάθηση άλλων γλωσσών προγραμματισμού. Με την επιτυχή ολοκλήρωση του μαθήματος ο φοιτητής / τρια θα είναι σε θέση :<br /><br />
                    Να κατανοεί τις δομές των αλγορίθμων και των προγραμματιστικών προβλημάτων<br />
                    Να αναγνωρίζει και να ερμηνεύει τα δεδομένα ενός προβλήματος<br />
                    Να μαθαίνει και να εφαρμόζει αλγορίθμους και εντολές προγραμματισμού για την επίλυση προβλημάτων<br />
                    Να αξιολογεί και να βγάζει τα αντίστοιχα συμπεράσματα από τις λύσεις των προβλημάτων<br />
                    Να κάνει πρακτική εξάσκηση στο εργαστήριο<br />
                    Να διορθώνει τα λάθη του με το σχολιασμό στις διαλέξεις και το εργαστήριο των συνηθισμένων περιπτώσεων λαθών στις ασκήσεις του μαθήματος<br />
                    Να εξασκηθεί στην κριτική και επαγωγική σκέψη<br />
                </p><br />
            </div>
            <div style="height: 20%; ">
                <p style="position: absolute; left:45px; top:700px; font-size:1vw;" id="mathimaKathigites"><span style="font-weight: bold;">Καθηγητές:</span>  Γουλιάνας Κωνσταντίνος, Ασδρέ Κατερίνα</p>
            </div>
            <div style="height:10%; " >
                <button class="buttonEggrafi">Εγγραφή</button>
            </div>
        </div>
        <div id="iframe">
            <iframe src="https://calendar.google.com/calendar/embed?height=1000&wkst=1&bgcolor=%23ffffff&ctz=UTC&showNav=1&showPrint=0&showTitle=1&showTabs=1&showCalendars=0&showTz=1&src=ODY2MzVkYmUwNDAyYTE2MmI1Njk2YzA3ZmY0ZjQ5ZDgzYTJiNjQ1Mjc3ODY2MGZjNTc3MDMzNjFlMTgzNWI1OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23616161" style="border:solid 1px #777" width="1600" height="1000" frameborder="0" scrolling="yes"></iframe>
        </div>
    </div>
    <div class="cssHeader">
        <div class="cssEgrafi">
            <span style="width: 30%; top: 10px; left: 33%; position: absolute;">Εγγραφή</span>
        </div>
        <div class="cssSindesi">
            <span style="width:100%; min-width: 30%; max-width: 8%; top: 10px; left: 33%; position: absolute; ">Σύνδεση</span>
        </div>
        <div class="cssUnicalendar">
            <span style="width: 65px; top: 3px; left: 49px; position: absolute;">UniCalendar</span>
                <div class="cssLogo"></div>
            </div>
        </div>
        <div class="cssFooter">
            <div class="cssFacebook">
                <a href="http://www.facebook.com"  title="facebook" class="fa fa-facebook" target="_blank">  </a>
            </div>
            <div class="cssInsta">
                <a href="http://www.instagram.com" title="instgram" class="fa fa-instagram" target="_blank"></a>
            </div>
            <div class="cssTwitter">
                <a href="http://www.twitter.com" title="twitter" class="fa fa-twitter" target="_blank"></a>
            </div>
        </div>
</body>
@await Html.PartialAsync("Header")
@await Html.PartialAsync("Footer")
</html>