@{
    ViewData["Title"] = "Courses";
}
<!DOCTYPE html>
<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/courses.css" rel="stylesheet" />
    <title>Μαθήματα</title>
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">

</head>
<body>
    <div>

        <div class="divFilters">
            <div class="divTitle">
                <img class="imgFiltra" src="~/images/filters.png">
                <p class="txtfiltra">Φίλτρα</p>
            </div>
            <div class="divKatigoria">
                <p class="cssTxtTitles">Κατηγορία</p>
            </div>
            <div class="divHmerEna">
                <p class="cssTxtTitles">Ημερομηνία Έναρξης (από)</p>
            </div>
            <div class="divHmerLiksi">
                <p class="cssTxtTitles">Ημερομηνία Λήξης (μέχρι)</p>
            </div>
            <div class="divDiarkeia">
                <p class="cssTxtTitles">Διάρκεια</p>
            </div>
            <div class="divExamino">
                <p class="cssTxtTitles">Εξάμηνο</p>
            </div>
            <div class="divKathigites">
                <p class="cssTxtTitles">Καθηγητές</p>
            </div>
        </div>
    </div>
    <p class="cssMathimatatxt">Μαθήματα</p>

    <div class="cssHeader">
        <div class="cssEgrafi">

            <span style="width: 30%; top: 10px; left: 33%; position: absolute;">Εγγραφή</span>
        </div>
        <div class="cssSindesi">

            <span style="width:100%; min-width: 30%; max-width: 8%; top: 10px; left: 33%; position: absolute; ">Σύνδεση</span>
        </div>
        <div class="cssUnicalendar">

            <span style="width: 65px; top: 3px; left: 49px; position: absolute;">UniCalendar</span>

            <div class="cssLogo"></div>


        </div>
    </div>
    <div class="cssFooter">

        <div class="cssFacebook">
            <a href="http://www.facebook.com" title="facebook" class="fa fa-facebook" target="_blank">  </a>
        </div>
        <div class="cssInsta">
            <a href="http://www.instagram.com" title="instgram" class="fa fa-instagram" target="_blank"></a>
        </div>
        <div class="cssTwitter">
            <a href="http://www.twitter.com" title="twitter" class="fa fa-twitter" target="_blank"></a>
        </div>

    </div>
</body>
</html>