@{
    ViewData["Title"] = "Courses";
}
<!DOCTYPE html>
<html>
<head>
    <title>Μαθήματα</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/courses.css"/>
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/burgermenu.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/authorize.js"></script>
    <script async defer src="~/js/site.js"></script>
    <script async defer src="~/js/pagination.js"></script>
</head>
<body>
    <div class="divFilters">
        <div class="divTitle">
            <img class="imgFiltra" src="~/images/filters.png">
            <p class="txtfiltra">Φίλτρα</p>
        </div>
        <div class="divKatigoria">
            <p class="cssTxtTitles">Κατηγορία</p>
        </div>
        <div class="divHmerEna">
            <p class="cssTxtTitles">Ημερομηνία Έναρξης (από)</p>
        </div>
        <div class="divHmerLiksi">
            <p class="cssTxtTitles">Ημερομηνία Λήξης (μέχρι)</p>
        </div>
        <div class="divDiarkeia">
            <p class="cssTxtTitles">Διάρκεια</p>
        </div>
        <div class="divExamino">
            <p class="cssTxtTitles">Εξάμηνο</p>
        </div>
        <div class="divKathigites">
            <p class="cssTxtTitles">Καθηγητές</p>
        </div>
    </div>
    <p class="cssMathimatatxt">Μαθήματα</p>
    <div id="coursesContainer"></div>
        <div class="cssCourses" id="courses">
            <div style="left: 25px; position:absolute;" id="coursesName">
                <p style="font-size: 18px;"><b>Δομημένος Προγραμματισμός</b></p>
            </div>
            <div style="left: 25px; position:absolute; top:20%" id="coursesSxoli">
                <p style="font-size: 12px;"><b>Σχολή: </b> Tμήμα Μηχανικών Πληροφορικής και Ηλεκτρονικών Συστημάτων</p>
            </div>
            <div style="left: 25px; position:absolute; top:30%" id="coursesCode">
                <p style="font-size: 12px;"><b>Κωδικός Μαθήματος: </b> 1102</p>
            </div>
            <div style="left: 25px; position:absolute; top:40%" id="coursesTeacher">
                <p style="font-size: 12px;"><b>Διδάσκοντες:</b> Γουλιάνας Κωνσταντίνος, Ασδρέ Κατερίνα</p>
            </div>
            <div style="left: 25px; position:absolute; top:70%" id="coursesRating">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star" style="visibility: hidden;"></span>
                <span class="fa fa-star" style="visibility: hidden;"></span>
            </div>
        </div>
    </div>
    <div id="paginationBtns">
        <button id="firstpage"onclick="goToPage(1)">First</button>
        <button id="previouspage"onclick="goToPage(currentPage - 1)">Previous</button>
        <button id="nextpage"onclick="goToPage(currentPage + 1)">Next</button>
        <button id="lastpage"onclick="goToPage(totalPages)">Last</button>
    </div>
</body>
@await Html.PartialAsync("Header")
@await Html.PartialAsync("Footer")
</html>