@model List<string>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Module Names</h1>
    <ul>
        @foreach (var moduleName in Model)
        {
                <li>@moduleName</li>
        }
    </ul>
</body>
</html>
