@{
    ViewData["Title"] = "Header";
}
<!DOCTYPE html>
<html>
<head>
    <title>UniCalendar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/header.css"/>
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
    <script src="~/js/Burgermenu.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/Authorize.js"></script>
</head>
<body>
    <div class="cssHeader">
        @await Html.PartialAsync("Burgermenu")
        <button class="cssSindesi" id="authorize_button" onclick="handleAuthClick()">Σύνδεση</button>
        <button class="cssEgrafi" id="signup_button">Εγγραφή</button>
        <button class="cssEgrafi" id="signout_button" onclick="handleSignoutClick()">Αποσύνδεση</button>
        </>
        <div class="cssUnicalendar1">Uni</div>
        <div class="cssUnicalendar2">Calendar</div>
        <div class="cssLogo"></div>
    </div>
</body>
</html>