@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <title>UniCalendar</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/home.css"/>
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/Burgermenu.css" />
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
    <script src="~/js/Burgermenu.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/Authorize.js"></script>
</head>
<body>
    <div>
        <img class="cssImg" src="~/images/home.png">
    </div>
    <div class="cssDescription">
        <div class="cssLogos">
            <div class="cssMathimataLogo">
                <img style="top: 50px; left: 50px; position: absolute;" src="~/images/lessons.png">
            </div>
            <div class="cssKathigitesLogo ">
                <img style="top: 50px; left: 50px; position: absolute;" src="~/images/teacher.png">
            </div>
            <div class="cssHmerologioLogo">
                <img style="top: 50px; left: 50px; position: absolute;" src="~/images/calendar2.png">
            </div>
            <div class="cssSxolesLogo">
                <img style="top: 50px; left: 50px; position: absolute;" src="~/images/school.png">
            </div>
        </div>
        <span class="cssSxolesTitle">Σχολές</span>
        <span class="cssMathimataTitle">Μαθήματα</span>
        <span class="cssKathigitesTitle">Καθηγητές</span>
        <span class="cssHmerologioTitle">Ημερολόγιο</span>
        <span class="cssSxoliText">Βρείτε τη σχολή σας! Επιλέξτε ανάμεσα σε πάνω απο 3000 σχολές από όλη την Ελλάδα και όχι μόνο.</span>
        <span class="cssMathimataText">Βρείτε τα μαθήματά σας! Επιλέξτε το μάθημα που σας ενδιαφέρει και δείτε το πρόγραμμα  και όλες τις σχετικές πληροφορίες.</span>
        <span class="cssKathigitesText">Βρείτε τους καθηγητές σας! Επιλέξτε τους καθηγητές που σας ενδιαφέρουν και δείτε το πρόγραμμά τους, ποια μαθήματα διδάσκουν και άλλες σχετικές πληροφορίες.</span>
        <span class="cssImerologioText">Φτιάξτε το ημερολόγιό σας! Επιλέξτε όλα τα events που σας ενδιαφέρουν και αποθηκεύστε τα απευθείας στο προσωπικό σας Google Calendar.</span>
    </div>
    <div class="cssPlaisio" style="z-index: -1;">
        <div class="cssSB">
            <div class="cssSBLesson">
                <input class="cssLesson" type="text" placeholder="Επιλέξτε Μάθημα..">
            </div>
            <div class="cssSBUni">
                <input class="cssUni" type="text" placeholder="Επιλέξτε Σχολή..">
            </div>
            <div class="cssSBDates">
                <input class="cssDates" type="date">
            </div>
            <div class="cssSBSearch">
                <img style="top: 10px; left: 10px; position: absolute;" src="~/images/search.png">
            </div>
        </div>
    </div>
    @await Html.PartialAsync("Header")
    <!-- @await Html.PartialAsync("Footer") -->
</body>
</html>
