<!DOCTYPE html>
<html>
<head>
    <title>Μάθημα</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/mathima.css" rel="stylesheet" />
    <link rel="icon"  href="./images/calendar.png" type = "image/x-icon">
</head>
<body>
    <div>
        <div class="cssMathima">
            <div style="height: 10%;  " >
                <p class="cssMathimaTitle" id="mathimaTitle">Δομημένος Προγραμματισμός</p>
            </div>
            <div style="height: 50%; ">
                <p class="cssMathimaDesc" id="mathimaDesc">Το μάθημα συνιστά μία εισαγωγή στις βασικές αρχές της Αλγοριθμικής και του Προγραμματισμού. Επι μέρους στόχους του μαθήματος συνιστούν (α) η ανάπτυξη δεξιοτήτων και ικανοτήτων σχετικών με την αλγοριθμική και (β) η εκμάθηση των βασικών αρχών του δομημένου προγραμματισμού, χωρίς να απαιτείται προηγούμενη προγραμματιστική εμπειρία. Το μάθημα χρησιμοποιεί τις δυνατότητες προγραμματισμού που παρέχει η γλώσσα C, για την υλοποίηση απλών αλγορίθμων και την σταδιακή εκμάθηση των βασικών αρχών του δομημένου προγραμματισμού, μέσω μικρών προγραμμάτων και εργασιών. Αναλυτικότερα το εισαγωγικό αυτό μάθημα : ● Παρέχει στους φοιτητές τις βάσεις των αρχών της αλγοριθμικής και του δομημένου προγραμματισμού. ● Συμβάλλει στην κατανόηση του περιβάλλοντος και των χαρακτηριστικών της C. ● Παρέχει προγραμματιστική εμπειρία ικανή για την υλοποίηση απλών αλγορίθμων, αλλά και απλών πρακτικών εφαρμογών. ● Συμβάλλει στην υλοποίηση απλών προγραμμάτων. ● Παρέχει το υπόβαθρο για την περαιτέρω εμβάθυνση στον Αντικειμενοστρεφή Προγραμματισμό του 2ου εξαμήνου, αλλά και την εκμάθηση άλλων γλωσσών προγραμματισμού. Με την επιτυχή ολοκλήρωση του μαθήματος ο φοιτητής / τρια θα είναι σε θέση :
                    Να κατανοεί τις δομές των αλγορίθμων και των προγραμματιστικών προβλημάτων
                    Να αναγνωρίζει και να ερμηνεύει τα δεδομένα ενός προβλήματος
                    Να μαθαίνει και να εφαρμόζει αλγορίθμους και εντολές προγραμματισμού για την επίλυση προβλημάτων
                    Να αξιολογεί και να βγάζει τα αντίστοιχα συμπεράσματα από τις λύσεις των προβλημάτων
                    Να κάνει πρακτική εξάσκηση στο εργαστήριο
                    Να διορθώνει τα λάθη του με το σχολιασμό στις διαλέξεις και το εργαστήριο των συνηθισμένων περιπτώσεων λαθών στις ασκήσεις του μαθήματος
                    Να εξασκηθεί στην κριτική και επαγωγική σκέψη</p>
            </div>
            <div style="height: 10%; ">
                <p style="position: absolute; left:45px; font-size:1vw;" id="mathimaKathigites">Καθηγητές: </p>
            </div>
            <div style="height:5%; " >
                <button class="buttonEggrafi">Εγγραφή</button>
            </div>
        </div>
    </div>
    <div class="cssHeader">
        <div class="cssEgrafi">
            <span style="width: 30%; top: 10px; left: 33%; position: absolute;">Εγγραφή</span>
        </div>
        <div class="cssSindesi">
            <span style="width:100%; min-width: 30%; max-width: 8%; top: 10px; left: 33%; position: absolute; ">Σύνδεση</span>
        </div>
        <div class="cssUnicalendar">
            <span style="width: 65px; top: 3px; left: 49px; position: absolute;">UniCalendar</span>
                <div class="cssLogo"></div>
            </div>
        </div>
        <div class="cssFooter">
            <div class="cssFacebook">
                <a href="http://www.facebook.com"  title="facebook" class="fa fa-facebook" target="_blank">  </a>
            </div>
            <div class="cssInsta">
                <a href="http://www.instagram.com" title="instgram" class="fa fa-instagram" target="_blank"></a>
            </div>
            <div class="cssTwitter">
                <a href="http://www.twitter.com" title="twitter" class="fa fa-twitter" target="_blank"></a>
            </div>
        </div>
</body>
</html>