@{
    ViewData["Title"] = "Professor";
}
<!DOCTYPE html>
<html>
<head>
    <title>Καθηγητές</title>
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Roboto&display=swap"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="~/css/professor.css"/>
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/header.css" />
    <link rel="stylesheet" href="~/css/burgermenu.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="~/js/authorize.js"></script>
</head>
<body>
    <div>
        <div class="divFilters">
            <div class="divTitle">
                <img class="imgFiltra" src="~/images/filters.png">
                <p class="txtfiltra">Φίλτρα</p>
            </div>
            <div class="divMathima">
                <p class="cssTxtTitles">Μάθημα</p>
            </div>
            <div class="divEpistimoniko">
                <p class="cssTxtTitles">Επιστημονικό Πεδίο</p>
            </div>
            <div class="divPanepistimio">
                <p class="cssTxtTitles">Πανεπιστήμιο</p>
            </div>
        </div>
    </div>
    <p class="cssKathigitestxt">Καθηγητές</p>

    <div class="cssProfessor" id="professor">
        <div style="left: 5%; top: 5%; position:absolute;" id="professorIMG">
            <img src="~/images/salampasis.jpeg">
        </div>

        <div style="left: 35%; position:absolute;" id="professorName">
            <p style="font-size: 18px;"><b>Μιχάλης Σαλαμπάσης</b></p>
        </div>
        <div style="left: 35%; position:absolute; top:20%" id="professorUni">
            <p style="font-size: 12px;"><b>Πανεπιστήμιο: </b> Διενθνές Πανεπιστήμιο της Ελλάδος</p>
        </div>
        <div style="left: 35%; position:absolute; top:30%" id="professorTmima">
            <p style="font-size: 12px;"><b>Τμήμα: </b> Μηχανικών Πληροφορικής και Ηλεκτρονικών Συστημάτων</p>
        </div>
        <div style="left: 35%; position:absolute; top:40%" id="professorMathimata">
            <p style="font-size: 12px;"><b>Μαθήματα: </b>(1405) Γλώσσες και Τεχνολογίες Ιστού, (1948) Ανάπτυξη Ολοκληρωμένων Πληροφοριακών Συστημάτων</p>
        </div>
        <div style="left: 35%; position:absolute; top:80%" id="professorSite">
            <p style="font-size: 12px;"><b>Προσωπική Σελίδα: </b> http://www.salampasis.gr</p>

        </div>
    </div>
    @await Html.PartialAsync("Header")
    @await Html.PartialAsync("Footer")
</body>
</html>