@{
    ViewData["Title"] = "Professor";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="~/css/professor.css" rel="stylesheet" />
    <title>UniCalendar</title>
    <link rel="icon" href="~/images/calendar.png" type="image/x-icon">
</head>
<body>
    <div>
        <div class="divFilters">
            <div class="divTitle">
                <img class="imgFiltra" src="~/images/filters.png">
                <p class="txtfiltra">Φίλτρα</p>
            </div>
            <div class="divMathima">
                <p class="cssTxtTitles">Μάθημα</p>
            </div>
            <div class="divEpistimoniko">
                <p class="cssTxtTitles">Επιστημονικό Πεδίο</p>
            </div>
            <div class="divPanepistimio">
                <p class="cssTxtTitles">Πανεπιστήμιο</p>
            </div>
        </div>
    </div>
    <p class="cssKathigitestxt">Καθηγητές</p>
</body>
</html>