<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial scale 1.0"> 
<link rel="stylesheet" href="~/css/Sign_Up.css">
</head>
<body>
<section>
  <div class="logo">
    <div class="logo_side">
        <div class="logo_title">
            <div class="logo_image">
                <img src="~/images/logo-adopse-blue-1.svg">
            </div>

            <div class="logo_text">
            <p>Uni</p>
            <p>Calendar</p>
            </div>
        </div>
    </div>
</div>

<div class="contentSI">
  <div class="formSI">
      <h2>Δημιουργήστε λογαριασμό</h2>
      <p>Εγγραφείτε δωρεάν και οργανώστε το πραγραμμά σας</p>
      <form>
        <div class="inputSI">
            <span>Όνομα</span>
            <input type="text" name="">
        </div>
        <div class="inputSI">
            <span>Επώνυμο</span>
            <input type="text" name="">
            </div>
        <div class="inputSI">
          <span>Email</span>
          <input type="text" name="">
        </div>
        <div class="inputSI">
            <span>Κωδικός</span>
            <input type="password" name="">
        </div>
        <div class="inputSI">
            <span>Επιβεβαίωση Κωδικού</span>
            <input type="password" name="">
        </div>

        <div class="inputSI">
            <input type="submit" value="Εγγραφή" name="">
        </div>
          <div class="inputSI">
            <p style="text-align: center;">Με την εγγραφή σας αποδέχεστε τους <a href="#">Όρους και Προυποθέσεις</a></p>
          </div>
      </form>
  </div>
 </div>


</section>
</body>
</html>