.cssTitle{
    position: absolute;
    width: 373px;
    height: 21px;
    left: 35%;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.categoryButons{
    position: absolute;
    width: 958px;
    left: -9%;
    top: 0%;
}

.humanities{
    position: absolute;
    width: 243px;
    height: 143px;
    left: 20%;
    top: 220px;
}

.btnHumanities{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    border-radius: 20px;
    border: none;

}

.txtHumanities{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 0px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.agriculture{
    position: absolute;
    width: 145px;
    height: 143px;
    left: 45%;
    top: 220px;
}

.btnAgriculture{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}

.txtAgriculture{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 10px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}
.media{ 

    position: absolute;
    width: 162px;
    height: 132px;
    left: 70%;
    top: 220px;

}

.btnMedia{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtMedia{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 5px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.business{      
    position: absolute;
    width: 243px;
    height: 143px;
    left: 95%;
    top: 220px;
}

.btnBusiness{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtBusiness{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: -40px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    
}

.education{

    position: absolute;
    width: 145px;
    height: 143px;
    left: 120%;
    top: 220px;
}

.btnEducation{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtEducation{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 44px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.physedu{

    position: absolute;
    width: 178px;
    height: 134px;
    left: 20%;
    top: 401px;
}

.btnPhysedu{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtPhysedu{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 0px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.science {

    position: absolute;
    width: 145px;
    height: 143px;
    left: 45%;
    top: 401px;

}

.btnScience{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtScience{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 20px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.medicine{

    position: absolute;
    width: 178px;
    height: 134px;
    left: 70%;
    top: 401px;
}

.btnMedicine{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtMedicine{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 55px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.engineering{

    position: absolute;
    width: 243px;
    height: 143px;
    left: 95%;
    top: 401px;
}

.btnEngineering{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtEngineering{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 50px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.law {

    position: absolute;
    width: 145px;
    height: 143px;
    left: 120%;
    top: 401px;
}

.btnLaw{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtLaw{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 60px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.finance{

    position: absolute;
    width: 178px;
    height: 138px;
    left: 31%;
    top: 593px;
}

.btnFinance{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtFinance{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 0px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.computer{

    position: absolute;
    width: 178px;
    height: 138px;
    left: 56%;
    top: 593px;
}

.btnComputer{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtComputer{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 0px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.arts{

    position: absolute;
    width: 243px;
    height: 147px;
    left: 81%;
    top: 593px;
}

.btnArts{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtArts{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 63px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}

.tourism{

    position: absolute;
    width: 145px;
    height: 147px;
    left: 106%;
    top: 593px;

}

.btnTourism{
    
    position: absolute;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 0px;
    background: #E6E6E6;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;

}

.txtTourism{
    
    position: absolute;
    width: 243px;
    height: 22px;
    left: 50px;
    top: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    
}