body{
    font-family: 'Roboto';
}
.divFilters {
    position: absolute;
    left: auto;
    top: 80px;
    left: 50px;
    width: 250px;
    height: 100%;
    
  }
  .txtfiltra{
    position: absolute;
    width: 94px;
    height: 16px;
    left: 45px;
    top: -10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
  }

  .imgFiltra{
    position: absolute;
    top: 10px;
    left:10px;
  }

  .divTitle{
    border: 1px solid grey;
    
    height: 10%;
  }

  .divKatigoria{
    border: 1px solid grey;
    
    height: 40%;
  }
  .divHmerEna{
    border: 1px solid grey;
    
    height: 25%;
  }
  .divHmerLiksi{
    border: 1px solid grey;
    
    height: 25%;
  }
  .divDiarkeia{
    border: 1px solid grey;
    
    height: 40%;
  }

  .divExamino{
    border: 1px solid grey;
    
    height: 40%;
  }

  .divKathigites{
    border: 1px solid grey;
    
    height: 50%;
  }

  .cssTxtTitles{
    position: absolute;
    left:10px;
    font-weight: bold;
  }

  .cssMathimatatxt{
    
    position: absolute;
    width: 421px;
    height: 21px;
    left: 731px;
    top: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
  }